<footer class="footer">
  <div class="wrap footer-grid">
    <div>
      <p class="f-naam">{{ bedrijf.naam }}</p>
      <p>Shiatsu therapie &middot; Japanse acupunctuur &middot; klassieke massage &middot; baby- &amp; kindermassage in Boxtel (vlakbij Oirschot).</p>
      <p style="margin-top:1rem;"><a href="tel:{{ bedrijf.telefoon_link }}">{{ bedrijf.telefoon_weergave }}</a> &middot; <a href="mailto:{{ bedrijf.email }}">e-mail</a><br>{{ bedrijf.straat }}, {{ bedrijf.postcode }} {{ bedrijf.plaats }}</p>
    </div>
    <div>
      <h4>Behandelingen</h4>
      <ul>
        <li><a href="shiatsutherapie.html">Shiatsu Therapie</a></li>
        <li><a href="shiatsu-massage.html">Shiatsu-massage</a></li>
        <li><a href="klassieke-massage.html">Klassieke massage</a></li>
        <li><a href="hoofdpijn-massage.html">Hoofdpijnmassage</a></li>
        <li><a href="zwangerschapsmassage.html">Zwangerschapsmassage</a></li>
        <li><a href="mama-massage.html">Mama-massage</a></li>
      </ul>
    </div>
    <div>
      <h4>Baby, kind &amp; meer</h4>
      <ul>
        <li><a href="babymassage.html">Babymassage</a></li>
        <li><a href="kindermassage.html">Kindermassage</a></li>
        <li><a href="tarieven.html">Tarieven</a></li>
        <li><a href="referenties.html">Referenties</a></li>
        <li><a href="nieuws.html">Nieuws</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; <span id="jaar"></span> {{ bedrijf.naam }} &middot; KvK {{ bedrijf.kvk }}</span>
    <span>Tarieven vrijgesteld van btw &middot; Betaling contant of via Tikkie</span>
  </div>
</footer>