<header class="nav">
  <div class="nav-inner">
    <a class="logo" href="index.html"><small>Massagepraktijk</small>Mirjam Maat</a>
    <button class="burger" aria-label="Menu openen" aria-expanded="false"><span></span><span></span><span></span></button>
    <nav aria-label="Hoofdmenu">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li class="has-sub">
          <button aria-expanded="false">Massages <span class="caret">&#9662;</span></button>
          <ul class="submenu">
            <li><a href="soort-massage.html">Overzicht</a></li>
            <li><a href="shiatsutherapie.html">Shiatsu Therapie &amp; Acupunctuur</a></li>
            <li><a href="shiatsu-massage.html">Shiatsu-massage</a></li>
            <li><a href="klassieke-massage.html">Klassieke &amp; sportmassage</a></li>
            <li><a href="hoofdpijn-massage.html">Hoofdpijnmassage</a></li>
            <li><a href="zwangerschapsmassage.html">Zwangerschapsmassage</a></li>
            <li><a href="mama-massage.html">Mama-massage</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <button aria-expanded="false">Baby &amp; Kind <span class="caret">&#9662;</span></button>
          <ul class="submenu">
            <li><a href="babymassage.html">Babymassage</a></li>
            <li><a href="cursus-informatie.html">Cursus babymassage</a></li>
            <li><a href="babymassage-voor-professionals.html">Voor professionals</a></li>
            <li><a href="kindermassage.html">Kindermassage</a></li>
            <li><a href="cursus-kindermassage.html">Cursus kindermassage</a></li>
            <li><a href="kindermassage-op-school.html">Kindermassage op school</a></li>
          </ul>
        </li>
        <li><a href="tarieven.html">Tarieven</a></li>
        <li><a href="over-mirjam.html">Over Mirjam</a></li>
        <li class="has-sub">
          <button aria-expanded="false">Meer <span class="caret">&#9662;</span></button>
          <ul class="submenu">
            <li><a href="referenties.html">Referenties</a></li>
            <li><a href="nieuws.html">Nieuws</a></li>
            <li><a href="huisregels.html">Huisregels</a></li>
            <li><a href="links.html">Links</a></li>
          </ul>
        </li>
        <li><a class="nav-cta" href="contact.html">Afspraak maken</a></li>
      </ul>
    </nav>
  </div>
</header>